@import "./../../../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h3 {
    margin-top: 1.5rem;
    margin-left: 3rem;
    font-size: 1.5rem;
  }

  .name {
    background-color: $grey;
    width: 25rem;
    height: 25rem;

    h1 {
      padding: 8rem 4rem;
      position: absolute;
      font-size: 6rem;
    }
  }

  ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 1rem;

    li {
      padding: 0.8rem 1.5rem;

      a {
        color: $text-color;
        text-decoration: none;
      }
    }

    :first-child {
      background-color: $grey;
    }
  }
}
