@import "./../../../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h3 {
    margin-top: 1.5rem;
    margin-left: 3rem;
    font-size: 1.5rem;
  }

  .name {
    background-color: $grey;
    width: 25rem;
    height: 25rem;

    h1 {
      padding: 8rem 4rem;
      position: absolute;
      font-size: 6rem;
    }
  }

  .menuIcon {
    display: none;
  }

  .heading {
    display: none;
  }

  ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 1rem;

    a {
      color: $text-color;
      text-decoration: none;
      li {
        padding: 0.8rem 1.5rem;
      }
    }

    .selected {
      background-color: $grey;
    }
  }
}

@media (max-width: 750px) {
  .navbar {
    h3 {
      margin-left: 2rem;
      font-size: 1.2rem;
    }

    .menuIcon {
      display: block;
      width: 2rem;
      margin: 0.8rem;
      position: absolute;
      right: 0;
    }

    .navItem {
      position: fixed;
      animation: open 1s reverse;
      right: -250px;
      height: 100vh;
      transition: right 0.3s ease;
      background-color: $white;
      z-index: 7;

      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        h4 {
          font-size: 1.3rem;
        }
        img {
          width: 1.5rem;
        }
      }

      ul {
        margin: 0;
        flex-direction: column;
        text-align: center;
      }
    }

    .navOpen {
      right: 0;
      width: 90%;
      transition: right 0.3s ease;
    }

    .name {
      margin-top: 3rem;
      width: 100%;
      height: max-content;

      h1 {
        position: relative;
        padding: 1.5rem 2rem;
        font-size: 3rem;
      }
    }
  }
}
