.main {
  position: absolute;
  height: 100vh;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .name {
      background-color: gainsboro;
      width: 25rem;
      height: 25rem;

      h1 {
        padding: 8rem 4rem;
        position: absolute;
        font-size: 6rem;
      }
    }

    ul {
      display: flex;
      gap: 0.5rem;
      list-style: none;
      font-weight: 600;
      font-size: 0.9rem;
      margin: 1rem;

      li {
        padding: 0.8rem 1.5rem;
      }

      :first-child {
        background-color: gainsboro;
      }
    }
  }

  .aboutMe {
    display: grid;
    width: 45%;
    margin: 3rem 4rem;
    font-weight: 500;
    font-size: 1.1rem;
    span {
      margin-bottom: 0.5rem;
    }
  }

  .photoMe {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
