.aboutMe {
  height: 100vh;
  padding-top: 3rem;
  margin-bottom: 3rem;

  h1 {
    text-align: center;
    font-size: 6rem;
  }

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      bottom: 0;
    }

    .text {
      text-align: center;

      p {
        padding: 2rem 5rem;
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 2rem;
        background-color: gainsboro;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img {
          width: 2.5rem;
          transition: 0.5s;

          &:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
        }
      }
    }
  }
}
