@import "./../../../styles/variables.scss";

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0.5px 0.5px 10px $grey;
  transition: 1s;
  .img {
    img {
      width: 100%;
    }
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    color: $box-shadow;
    font-weight: 500;
  }

  .description {
    color: black;
    margin-bottom: 1rem;
  }

  .projectLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    a {
      color: black;
      font-weight: 600;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        text-decoration: none;
      }

      img {
        width: 1.5rem;
      }
    }
  }

  &:hover {
    box-shadow: 0.5px 0.5px 10px $box-shadow;
    transform: scale(1.01);
    transition: 1s;
  }
}
