@import "./../../../styles/variables.scss";

.main {
  height: 100vh;

  .aboutMe {
    display: grid;
    width: 45%;
    margin: 3rem 4rem;
    font-weight: 500;
    font-size: 1.1rem;
    span {
      margin-bottom: 0.5rem;
    }
  }

  .photoMe {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 750px) {
  .main {
    width: 100%;
    .aboutMe {
      font-size: 0.8rem;
      margin: 2rem;
    }

    .photoMe {
      width: 15rem;
    }
  }
}
