.projects {
  h1 {
    text-align: center;
    margin-top: 9rem;
    font-size: 6rem;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 5;
  }

  .projectCards {
    margin: 3rem 10rem 10rem;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .loader {
    display: flex;
    margin: 5rem 0rem 8rem;
    justify-content: center;
    align-items: center;
  }
}
