@import "./../../../styles/variables.scss";

.latestWork {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;

  h1 {
    margin-left: 4rem;
    font-size: 6rem;
  }

  .btn {
    background-color: $grey;
    font-weight: 600;
    padding: 1rem 2rem;
    text-decoration: none;
    color: $text-color;
    align-self: center;

    &:active {
      transform: scale(0.95);
    }
  }
}

@media (max-width: 750px) {
  .latestWork {
    padding: 2rem 0;

    h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-left: 0;
    }

    .btn {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
}
